# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/sc2zeme5780/enhancedhenalluxportail.be/EnhancedHenalluxPortailServer"
PassengerBaseURI "/"
PassengerNodejs "/home/sc2zeme5780/nodevenv/enhancedhenalluxportail.be/EnhancedHenalluxPortailServer/16/bin/node"
PassengerAppType node
PassengerStartupFile server.js
PassengerAppLogFile "/home/sc2zeme5780/logs/test.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

RewriteEngine On 
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} !on
RewriteRule ^(.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]